* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-color: #ef5f4c;

  --bg-color: #ffffff;
  --surface-color: #f5f5f5;
  --skeleton-color: #d9d9d9;
  --shape-transparency: #ffffff8f;

  --text-color-primary: #313131;
  --text-color-secondary: #6c6c6c;

  --font-family: "Poppins", sans-serif;
  --h1: bold 2rem /1.25 var(--font-family);
  --p-sm: normal 0.75rem /1.7 var(--font-family);
  --p-md: normal 0.875rem /1.7 var(--font-family);
}

html,
body,
:root {
  font-family: var(--font-family);
}

body {
  color: var(--text-color-secondary);
}

.flex {
  display: flex;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

li:hover,
a:hover {
  cursor: pointer;
}
