header {
  background-color: var(--surface-color);
}

nav {
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 2rem;

  line-height: 0;

  & #logo {
    width: 10rem;
  }

  & #menu {
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding-block: 0.5rem;

    & img {
      width: 1.5rem;
    }

    & li {
      font: var(--p-md);
    }

    & #avatar {
      width: 2.5rem;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}
